<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>" style="padding:10px;">
        <img src="/images/logo.png" style="height:100%;">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_url %>">Home</a></li>

        <% if user_signed_in? %>

          <li><%= link_to 'Клиенти', clients_path %></li>
          <li><%= link_to 'Дела', lawsuits_index_path %></li>
          <li><%= link_to 'Разходи', fees_index_path %></li>
          <li><%= link_to 'Документи', documents_index_path %></li>
          <li><%= link_to 'Промени', updates_index_path %></li>

          <% if current_user.admin? %>
            <li><%= link_to 'Потребители', admin_users_index_path %></li>
            <li><%= link_to 'Логове', admin_logs_path %></li>
          <% end %>

        <% end %>

        <% if customer_signed_in? %>
          <li><%= link_to 'Профил', my_portal_index_path %></li>
          <li><%= link_to 'Моите дела', my_portal_lawsuits_manage_path %></li>
          <li><%= link_to 'Фактури', my_portal_fees_path %></li>
        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Помощ', help_path %></li>

        <% if !user_signed_in? && !customer_signed_in? %>

          <li><%= link_to 'Вход служители', new_user_session_path %></li>
          <li><%= link_to 'Вход клиенти', new_customer_session_path %></li>

        <% end %>


        <% if user_signed_in? %>

          <li><a><%= current_user.name %></a></li>
          <li><%= link_to 'Изход', destroy_user_session_path, method: :delete %></li>

        <% end %>


        <% if customer_signed_in? %>

          <li><a><%= current_customer.client.name %></a></li>
          <li><%= link_to 'Изход', destroy_customer_session_path, method: :delete %></li>

        <% end %>
      </ul>
    </div>
  </div>
</nav>